.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*.Rproj
*.txt
*.tsv
/data
/data/*
/old_code
/old_code/*
*.Rproj
/test
/test/*
selected_patients.txt
Sanford_Nov_2022level_7_ASVs.csv
figure1_data_with_stylized_taxa_new.txt


